# R History files
.Rhistory
.Rapp.history 
# R User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R # Should remove?
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/ # Should remove?
# RStudio files
.Rproj.user/
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth # Should remove?
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
# Snakemake stuff
.snakemake
*.log
# Python stuff
*.pyc
# Custom
## Sequence files
*fq
*fq.gz
*fastq
*fastq.gz
*fa
*fna
*fasta
*bam
*sam
*.bai

## Inputs
*metadata.txt
*contrasts.txt
*config.yaml
*.gmt
*remove.txt

## Outputs
output*/
*.csv
*metadata.QC_applied.txt


## Misc
*Log.out
*Log.progress.out
*Log.final.out
*out.tab
*.theta
*.model
*.cnt
*_table.txt
.~lock*
*.bak
unify_temposeq_manifests/

# Snakemake dummy files
genome.loaded
genome.removed
analysis_complete
reports_complete



